<header class="text-center mt-12 sm:mt-24 md:mt-36">

  <h2 class="title">ARHGH, our spacecraft crashed!</h2>
  <p class="subtitle">It wasn't your fault. We didn't see the <span class="highlight">500</span> Klingons coming!</p>

  <p class="paragraph">Seriously tho, it wasn't your fault. Something went wrong on our servers.</p>

  <div class="m-16">
    <%= link "Back to the homepage", to: page_path(@conn, :index), class: "btn-primary" %>
  </div>

</header>
