<div class="page-wrapper h-full w-full flex justify-center items-center">
    <div class="page-inner app">

        <h2 class="title">Welcome to Nindo!</h2>

        <%= link "Sign up", to: account_path(Endpoint, :sign_up), class: "btn-primary mobile" %>
        <%= link "Sign in", to: account_path(Endpoint, :sign_in), class: "btn-secondary mobile" %>

    </div>
</div>