<div class="page-wrapper">
    <UIComponent.sidebar conn={@conn} />
    <div class="page-inner">

        <h2 class="title"><%= @title %></h2>

        <FeedComponent.feed posts={@posts} user_link={false} rss={true} preview={false} />

    </div>
</div>