<div class="page-wrapper">
    <UIComponent.sidebar logged_in={logged_in?(@conn)} />
    <div class="page-inner">

        <h2 class="title"><%= @title %></h2>

        <FeedComponent.feed posts={@posts} user_link={false} preview={false} />

    </div>
</div>