<div class="page-inner">

    <%= if assigns[:error] do %>
        <AlertComponent.error message={assigns[:error].message} title={assigns[:error].title} />
    <% end %>

    <h2 class="title">My Feed</h2>

        <.live_component module={NewPost} user={@user} id="new-post"/>

        <FeedComponent.feed 
            posts={@posts}
            user_link={true}
            preview={true}
        />
</div>
