<%= if logged_in?(@conn) do %>

    <div class="page-wrapper">
        <UIComponent.sidebar conn={@conn} />
        <div class="page-inner">
            <h2 class="title">My Feed</h2>

                <FeedComponent.rss 
                    sources={@sources} 
                />
        </div>
    </div>

<% else %>

    <%= redirect(@conn, to: social_path(@conn, :discover)) %>

<% end %>