<div class="page-wrapper">
    <div class="max-w-md mx-auto sm:max-wl-2xl md:max-w-6xl">

        <h2 class="title"><%= @title %></h2>

        <FeedComponent.feed posts={@posts} user_link={false} rss={true} />

    </div>
</div>