<!DOCTYPE html>
<html lang="en" class="no-scrollbar">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%= csrf_meta_tag() %>
    <%# live_title_tag title(Controller.action_name(@conn), Controller.controller_module(@conn), assigns), suffix: " · Nindo" %>

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/images/logo.png"/>
    <link rel="apple-touch-icon" href="/favicon.ico"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Light mode -->
    <%# <meta name="apple-mobile-web-app-status-bar-style" content="default"> %>

    <link 
      phx-track-static 
      rel="stylesheet" 
      href={Routes.static_path(@conn, "/assets/app.css")}
    />

    <script 
      defer phx-track-static 
      type="text/javascript" 
      src={Routes.static_path(@conn, "/assets/app.js")}
    ></script>
  </head>
  <body class="flex flex-col h-screen bg-gray-50 dark:bg-gray-900 no-scrollbar">
    <%#<UIComponent.dev_header />%>
    <header class={Plug.Conn.get_session(@conn, :app) |> header_classes()}>
      <div class="flex flex-row justify-between">
        <section class="ml-3 flex items-center justify-start flex-wrap flex-1">
          <h1 class="p4 text-xl font-extrabold"><a class="header-title" href="/">Nindo</a></h1>
        </section>

        <section class="flex-2">
          <nav class="hidden md:block">
            <ul class="flex items-center justify-center flex-wrap">
              <li class="header-item"><%= link "Home", to: page_path(Endpoint, :index) %></li>
              <li class="header-item"><%= link "Social", to: live_path(Endpoint, Live.Social) %></li>
              <li class="header-item"><%= link "Blog", to: page_path(Endpoint, :blog) %></li>
              <li class="header-item"><%= link "About", to: page_path(Endpoint, :about) %></li>
              
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <li class="header-item">
                  <%= link "Developer", to: Routes.live_dashboard_path(@conn, :home) %>
                </li>
              <% end %>
            </ul>
          </nav>

          <nav class="block md:hidden">
            <ul class="flex items-center justify-end flex-wrap mobile-menu-button">
              <li class="header-item header-button cursor-pointer font-bold py-3 px-5 bg-indigo-700 hover:bg-indigo-900 text-blue-50 hover:shadow">☰</li>
            </ul>
          </nav>
        </section>

        <section class="hidden md:block flex-1">
          <div class="mr-3">
            <div class="flex items-center justify-end flex-wrap">
              <%= if logged_in?(@conn) do %>

                <UIComponent.account_header id={user(@conn).id} conn={@conn} /> 

              <% else %>

                <p class="header-item">New?</p>
                <%= link "Sign up", to: account_path(Endpoint, :sign_up), class: "header-item header-button btn-primary mr-1" %>
                <%= link "Sign in", to: account_path(Endpoint, :sign_in), class: "header-item header-button btn-secondary" %>
              
              <% end %>
            </div>
          </div>
        </section>
      </div>

      <section class="mobile-menu hidden bg-indigo-800">
        <nav>
          <ul>
            <li class="header-item"><%= link "Home", to: page_path(Endpoint, :index) %></li>
            <li class="header-item"><%= link "Social", to: live_path(Endpoint, Live.Social) %></li>
            <li class="header-item"><%= link "Blog", to: page_path(Endpoint, :blog) %></li>
            <li class="header-item"><%= link "About", to: page_path(Endpoint, :about) %></li>
            
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li class="header-item">
                <%= link "Developer", to: Routes.live_dashboard_path(@conn, :home) %>
              </li>
            <% end %>
            <li class="header-item"><%= link "Settings", to: live_path(Endpoint, Live.Account) %></li>
          </ul>
        </nav>
      </section>

    </header>

    <main class="flex-grow">

      <%= @inner_content %>

    </main>

    <footer class="text-center text-gray-500 py-6">
      Powered by 
      <a class="no-underline hover:underline" href="https://www.phoenixframework.org/">Phoenix Framework</a>. 
      Developed by 
      <a class="no-underline hover:underline" href="https://github.com/RobinBoers">Robin Boers</a> 
      under the 
      <a class="no-underline hover:underline" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GLPv3</a>  
      license.
    </footer>
  </body>
</html>
