<!DOCTYPE html>
<html lang="en" class="no-scrollbar">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%= csrf_meta_tag() %>
    <%= live_title_tag title(Controller.action_name(@conn), Controller.controller_module(@conn), assigns), suffix: " · Nindo" %>

    <link rel="manifest" href="/manifest.webmanifest">

    <link 
      phx-track-static 
      rel="stylesheet" 
      href={Routes.static_path(@conn, "/assets/app.css")}
    />

    <script 
      defer phx-track-static 
      type="text/javascript" 
      src={Routes.static_path(@conn, "/assets/app.js")}
    ></script>
  </head>
  <body class="flex flex-col h-screen bg-gray-50 dark:bg-gray-900 no-scrollbar">
    <header class="bg-indigo-500 text-blue-50 shadow-lg flex flex-row justify-between">

      <section class="ml-3 flex items-center justify-start flex-wrap flex-1">
        <h1 class="p4 text-xl font-extrabold"><a class="header-title" href="/">Nindo</a></h1>
      </section>

      <section class="flex-2">
        <nav class="hidden md:block">
          <ul class="flex items-center justify-center flex-wrap">
            <li class="header-item"><%= link "Home", to: page_path(@conn, :index) %></li>
            <li class="header-item"><%= link "Social", to: social_path(@conn, :index) %></li>
            <li class="header-item"><%= link "Blog", to: page_path(@conn, :blog) %></li>
            <li class="header-item"><%= link "About", to: page_path(@conn, :about) %></li>
            
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li class="header-item">
                <%= link "Developer", to: Routes.live_dashboard_path(@conn, :home) %>
              </li>
            <% end %>
          </ul>
        </nav>

        <nav class="block md:hidden">
          <ul class="flex items-center justify-end flex-wrap">
            <li class="header-item header-button btn-menu">☰</li>
          </ul>
        </nav>
      </section>

      <section class="hidden md:block flex-1">
        <div class="mr-3">
          <div class="flex items-center justify-end flex-wrap">
            <%= if logged_in?(@conn) do %>

              <UIComponent.account_header id={user(@conn).id} conn={@conn} /> 

            <% else %>

              <p class="header-item">New?</p>
              <%= link "Sign up", to: account_path(@conn, :sign_up), class: "header-item header-button btn-primary mr-1" %>
              <%= link "Sign in", to: account_path(@conn, :sign_in), class: "header-item header-button btn-secondary" %>
            
            <% end %>
          </div>
        </div>
      </section>

    </header>

    <main class="flex-grow">

      <%= @inner_content %>

    </main>

    <footer class="text-center text-gray-500 py-6">
      Powered by 
      <a class="no-underline hover:underline" href="https://www.phoenixframework.org/">Phoenix Framework</a>. 
      Developed by 
      <a class="no-underline hover:underline" href="https://github.com/RobinBoers">Robin Boers</a> 
      under the 
      <a class="no-underline hover:underline" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GLPv3</a>  
      license.
    </footer>
  </body>
</html>
